<ng-template #popupRepository id = "popupRepository" let-c="close" let-d="dismiss" >
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ajoutez un dépot GitHub</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #updateProject="ngForm" (ngSubmit)="newProject.valid">
            <div class="form-group">
                <label for="githubLink">URL GitHub</label>
                <input type="email" class="form-control" id="githubLink" name="githubLink" [(ngModel)]="model.githubLink"
                placeholder="https://github.com/<Username>/<Repository>">
            </div>
            <div class="form-group">
                <label for="githubUsername">Username GitHub</label>
                <input type="email" class="form-control" id="githubUsername" name="githubUsername" [(ngModel)]="model.githubUsername"
                placeholder="Username">
            </div>
            <div class="form-group">
                <label for="githubUsername">GitHub password or token</label>
                <input type="password" class="form-control" id="githubToken" name="githubToken" [(ngModel)]="model.githubToken"
                placeholder="Password or token">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit(updateProject)" (click)="c('Confirm click')">Valider</button>
    </div>
</ng-template>


<h1 class="display-4"> <em id="backArrow" class="fa fa-arrow-left" routerLink="../">
    </em> {{githubOwner}} / {{githubRepo}} <em id="editIcon" class="fa fa-edit" (click)="openModalEdit()"></em>
</h1>

<div class="list-group">
    <a data-toggle="collapse" href="#collapse{{commit?.sha}}" role="button" (click)="getCommitDetails(commit?.sha)"
        class="list-group-item list-group-item-action" *ngFor="let commit of githubCommits">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{commit?.commit?.message}} <span
                    class="badge badge-info">{{commit?.sha | slice:0:7}}</span></h5>
            <small>{{commit?.commit?.author?.date | date:"dd/MM/yyyy, h:mm:ss a"}}</small>
        </div>
        <p class="mb-1"><img src={{commit?.author?.avatar_url}} width="20" height="20" /> {{commit?.author?.login}}</p>
        <small><a href={{commit?.html_url}}>Lien</a></small>

        <div class="collapse" id="collapse{{commit?.sha}}">
            <div class="card card-body">
                <div *ngFor="let file of commitDetails">
                    <p>{{file?.filename}} <span class="badge" [ngClass]="{'badge-primary': file?.status=='modified',
                                                                        'badge-danger': file?.status=='removed',
                                                                        'badge-success': file?.status=='added'}">{{file?.status}}</span>
                        <span class="badge badge-success" *ngIf="file?.additions != 0"> + {{file?.additions}}</span>
                        <span class="badge badge-danger" *ngIf="file?.deletions != 0"> - {{file?.deletions}}</span>
                    </p>
                </div>
            </div>
        </div>
    </a>

</div>



