<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="../..">Projects</a></li>
        <li class="breadcrumb-item"><a routerLink="../">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Trello </li> <em class="fa fa-cogs" id="mainEditIcon" (click)="openModalEdit()"></em>
    </ol>
</nav>

<ng-template #popupTrello id = "popupTrello" let-c="close" let-d="dismiss" >
    <div class="modal-header">
        <h5 class="modal-title">Ajouter un Trello</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #updateTrello="ngForm" (ngSubmit)="udpateTrello.valid">
            <div class="form-group">
                <label for="trelloKey">Clé API</label>
                <input type="text" class="form-control" id="trelloKey" name="trelloKey" [(ngModel)]="model.trelloKey">
            </div>
            <div class="form-group">
                <label for="githubUsername">Token Utilisateur</label>
                <input type="text" class="form-control" id="trelloToken" name="trelloToken" [(ngModel)]="model.trelloToken">
            </div>
            <div class="form-group">
                <label for="githubUsername">URL du tableau Trello</label>
                <input type="text" class="form-control" id="trelloBoardUrl" name="trelloBoardUrl" [(ngModel)]="model.trelloBoardUrl">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit(updateTrello)" (click)="c('Confirm click')">Valider</button>
    </div>
</ng-template>


<h1 class="display-4">{{trelloName}} <em id="editIcon" data-toggle="collapse" class="fa fa-edit"
        href="#collapseEditName" role="button" aria-expanded="false" aria-controls="collapseEditName"></em></h1>

<div class="collapse multi-collapse" id="collapseEditName">
    <form #editTrelloName="ngForm" (ngSubmit)="editTrelloName.valid">
        <div class="form-group">
            <label for="trelloName">Nom du trello</label>
            <input type="text" class="form-control" id="trelloName" name="trelloName" [(ngModel)]="modelName.trelloName">
        </div>
    </form>
    <button type="submit" class="btn btn-primary" (click)="onSubmitEditName(editTrelloName)" data-toggle="collapse" href="#collapseEditName">Valider</button>
</div>


<div class="container-fluid" id="container-lists">
        <div class="row flex-nowrap">
            <div *ngFor="let list of trelloLists" class="col-3">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h4 class="card-title">{{list?.name}} <em id="editIconList" class="fa fa-edit" (click)="openModalEditList(list?.id)"></em> <em id="deleteIconList" class="fa fa-trash" (click)="deleteList(list?.id)"></em></h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div *ngFor="let card of trelloCards">
                            <div *ngIf="card?.idList == list.id">
                                <li  class="list-group-item">
                                    <h5>{{card?.name}} <em class="fa fa-trash delete-card-icon float-right" (click)="deleteCard(card.id)"></em></h5>
                                    <p>{{card?.desc}}</p>
                                </li>
                            </div>
                        </div>
                        <a type="button" class="btn btn-light" data-toggle="collapse"
                            href="#collapseAddCard{{list?.id}}">Ajouter une autre carte</a>

                        <div class="collapse multi-collapse" id="collapseAddCard{{list.id}}">
                            <form #addCard="ngForm" (ngSubmit)="addCard.valid">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="cardName" name="cardName" placeholder="Card name"
                                        [(ngModel)]="modelCard.cardName">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="cardDescription" name="cardDescription" placeholder="Card description"
                                        [(ngModel)]="modelCard.cardDescription">
                                </div>
                            </form>
                            <a type="button" class="btn btn-primary" (click)="onSubmitAddCard(addCard,list?.id)" data-toggle="collapse"
                                href="#collapseAddCard{{list?.id}}">Valider</a>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <h5><a type="button" class="btn btn-light fa fa-plus" style="font-size: 2em;" (click)="openModalAddList()"></a></h5>
                <div class="collapse multi-collapse" id="#collapseAddList">
                    <form #addList="ngForm" (ngSubmit)="addList.valid">
                        <div class="form-group">
                            <input type="text" class="form-control" id="cardName" name="cardName" placeholder="Card name"
                                [(ngModel)]="modelCard.cardName">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="cardDescription" name="cardDescription" placeholder="Card description"
                                [(ngModel)]="modelCard.cardDescription">
                        </div>
                    </form>
                    <a type="button" class="btn btn-primary" (click)="onSubmitAddCard(addCard,list?.id)" data-toggle="collapse"
                        href="#collapseAddList">Valider</a>
                </div>
            </div>
        </div>
    </div>

    <ng-template #popupAddList id ="popupAddList" let-c="close" let-d="dismiss" >
        <div class="modal-header">
            <h5 class="modal-title">Ajouter une liste</h5>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form #addList="ngForm" (ngSubmit)="addList.valid">
                <div class="form-group">
                    <input type="text" class="form-control" id="listName" name="listName" placeholder="List name"
                        [(ngModel)]="modelList.listName">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmitAddList(addList)" (click)="c('Confirm click')">Valider</button>
        </div>
    </ng-template>

    <ng-template #popupEditList id="popupEditList" let-c="close" let-d="dismiss" >
        <div class="modal-header">
            <h5 class="modal-title">Editer une liste</h5>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form #editList="ngForm" (ngSubmit)="editList.valid">
                <div class="form-group">
                    <input type="text" class="form-control" id="listName" name="listName" placeholder="List name"
                        [(ngModel)]="modelList.listName">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmitEditList(editList)" (click)="c('Confirm click')">Valider</button>
        </div>
    </ng-template>



<div class="alert alert-success" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
</div>


