#editIcon, #mainEditIcon, #editIconList, #deleteIconList {
    cursor: pointer;
}

.delete-card-icon {
    font-size: medium;
    cursor: pointer;
}

#container-lists {
    overflow-x: auto;
    min-height:700px;
}