<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="../">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
</nav>

<ng-template #popupUpdateProject id = "popupUpdateProject" let-c="close" let-d="dismiss" >
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Editer le projet</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #updateProject="ngForm" (ngSubmit)="updateProject.valid">
            <div class="form-group">
                <label for="nameUpdateProject">Nom du projet</label>
                <input type="email" class="form-control" id="nameUpdateProject" name="name" [(ngModel)]="model.name">
            </div>
            <div class="form-group">
                <label for="descUpdateProject">Description du projet</label>
                <textarea class="form-control" [(ngModel)]="model.description" rows="3" id="descUpdateProject" name="description"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmitUpdate(updateProject)" (click)="c('Confirm click')">Valider</button>
    </div>
</ng-template>

<ng-template #popupInvitation id = "popupInvitation" let-c="close" let-d="dismiss" >
    <div class="modal-header">
        <h5 class="modal-title">Inviter un autre utilisateur</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #invitation="ngForm" (ngSubmit)="invitation.valid">
            <div class="form-group">
                <label for="user">Utilisateur</label>
                <select class="form-control" id="invitationUserId" type="text" name="userId" [(ngModel)]="invitationModel.userId">
                    <option value="">Selectionnez</option>
                    <option *ngFor="let aUser of users" value="{{aUser._id}}">{{aUser.name}} : {{aUser.email}}</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
        <button type="submit" class="btn btn-primary" (click)="onInvitationSubmit(invitation)" (click)="c('Confirm click')">Valider</button>
    </div>
</ng-template>


<div class="jumbotron" style="padding-top: 10px;padding-bottom: 10px;">
    <div class="dropdown">
        <button class="btn btn-light fa fa-cogs" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="btn dropdown-item" (click)="openModalUpdate()">Editer le projet</a>
            <a class="btn dropdown-item" (click)="openModalInvitation()">Inviter quelqu'un</a>
        </div>
    </div>
    <h1 class="display-4 text-center">{{project?.name | titlecase}}</h1>
    <p class="lead text-center">{{project?.description}}</p>
</div>


<div class="row card-group">
    <div class="col-sm-3">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded w-50 mx-auto">
            <a routerLink="github"><img src="../../../../assets/logo_github.svg" class="card-img-top" alt="Github Logo"></a>
            <div class="card-body">
                <h5 class="card-title text-center">GitHub</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded w-50 mx-auto">
            <a routerLink="agenda"><img src="../../../../assets/logo_agenda.png" class="card-img-top" alt="Agenda Logo"></a>
            <div class="card-body">
                <h5 class="card-title text-center">Agenda</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded w-50 mx-auto">
            <a routerLink="contacts"><img src="../../../../assets/logo_contacts.png" class="card-img-top" alt="Contacts Logo"></a>
            <div class="card-body">
                <h5 class="card-title text-center">Contacts</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded w-50 mx-auto">
            <a routerLink="notes"><img src="../../../../assets/logo_notes.png" class="card-img-top" alt="Notes Logo"></a>
            <div class="card-body">
                <h5 class="card-title text-center">Notes</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded w-50 mx-auto">
            <a routerLink="discord"><img src="../../../../assets/logo_discord.png" class="card-img-top" alt="Discord Logo"></a>
            <div class="card-body">
                <h5 class="card-title text-center">Discord</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded w-50 mx-auto">
            <a routerLink="trello"><img src="../../../../assets/logo_trello.png" class="card-img-top" alt="Trello Logo"></a>
            <div class="card-body">
                <h5 class="card-title text-center">Trello</h5>
            </div>
        </div>
    </div>
</div>