<div class="jumbotron">
    <h1 class="display-4 text-center">{{project?.name}}</h1>
    <p class="lead text-center">{{project?.description}}</p>
</div>


<div class="row card-group">
    <div class="col-sm-3">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded w-50 mx-auto">
            <a routerLink="github"><img src="../../..//../assets/logo_github.svg" class="card-img-top" alt="Github Logo"></a>
            <div class="card-body">
                <h5 class="card-title text-center">GitHub</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded w-50 mx-auto">
            <a routerLink="agenda"><img src="../../..//../assets/logo_agenda.png" class="card-img-top" alt="Agenda Logo"></a>
            <div class="card-body">
                <h5 class="card-title text-center">Agenda</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded w-50 mx-auto">
            <a routerLink="slack"><img src="../../..//../assets/logo_slack.png" class="card-img-top" alt="Slack Logo"></a>
            <div class="card-body">
                <h5 class="card-title text-center">Slack</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded w-50 mx-auto">
            <a routerLink="settings"><img src="../../..//../assets/logo_settings.png" class="card-img-top" alt="Settings Logo"></a>
            <div class="card-body">
                <h5 class="card-title text-center">Réglages du projet</h5>
            </div>
        </div>
    </div>

    <!--TODO : DISCORD / OVERLEAF / GOOGLE DOC / NOTES -->

</div>