<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="../..">Projects</a></li>
        <li class="breadcrumb-item"><a routerLink="../">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Agenda</li>
    </ol>
</nav>

<ng-template #popupUpdateEvent id="popupUpdateEvent" let-c="close" let-d="dismiss" >
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Editer l'évènement</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #updateEvent="ngForm" (ngSubmit)="updateEvent.valid">
            <div class="form-group">
                <label for="nameUpdateEvent">Nom</label>
                <input id="nameUpdateEvent" class="form-control" name="name" [(ngModel)]="model.name" type="text"/>
            </div>
            <div class="form-group">
                <label for="descUpdateEvent">Description</label>
                <textarea id="descUpdateEvent" class="form-control" name="description" [(ngModel)]="model.description" rows="3" ></textarea>
            </div>
            <div class="form-group">
                <label for="dateUpdateEvent">Date</label>
                <input id="dateUpdateEvent" class="form-control" name="date" [(ngModel)]="model.date" type="date" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
        <button type="submit" class="btn btn-primary" (click)="onUpdateSubmit(updateEvent)" (click)="c('Confirm click')">Valider</button>
    </div>
</ng-template>

<ng-template #popupAddEvent id="popupAddEvent" let-c="close" let-d="dismiss" >
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ajouter un évènement</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #newEventOnDate="ngForm" (ngSubmit)="newEvent.valid">
            <div class="form-group">
                <label for="nameAddEvent">Nom</label>
                <input id="nameAddEvent" class="form-control" name="name" [(ngModel)]="model.name" type="text"/>
            </div>
            <div class="form-group">
                <label for="descAddEvent">Description</label>
                <textarea id="descAddEvent" class="form-control" name="description" [(ngModel)]="model.description" rows="3" ></textarea>
            </div>
            <div class="form-group">
                <label for="dateAddEvent">Date</label>
                <input id="dateAddEvent" class="form-control" name="date" [(ngModel)]="model.date" type="date" disabled/>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button>
        <button type="submit" class="btn btn-primary" (click)="onAddSubmit(newEvent)" (click)="c('Confirm click')">Valider</button>
    </div>
</ng-template>

<div class="jumbotron">
    <h1 class="display-4">Mes évènements</h1>
    <p class="lead">Créez et gérez vos évènement en groupe !</p>
    <a class="btn btn-primary btn-lg" href="#collapseNewEvent" role="button" data-toggle="collapse">Créer un nouvel
        évènement <em class="fa fa-plus"></em></a>

    <div class="collapse" id="collapseNewEvent">
        <div class="card card-body" style="margin-top:15px;">
            <form #newEvent="ngForm" (ngSubmit)="newEvent.valid">
                <div class="form-group">
                    <label for="nameNewEvent">Nom de l'évènement</label>
                    <input id="nameNewEvent" class="form-control" type="text" name="name" [(ngModel)]="model.name"/>
                </div>
                <div class="form-group">
                    <label for="decriptionNewEvent">Description de l'évènement</label>
                    <textarea id="decriptionNewEvent" class="form-control" rows="3" type="text" name="description" [(ngModel)]="model.description"></textarea>
                </div>
                <div class="form-group">
                    <label for="dateNewEvent">Date de l'évènement</label>
                    <input id="dateNewEvent" class="form-control" type="date" name="date" [(ngModel)]="model.date"/>
                </div>
                <button type="submit" class="btn btn-primary" (click)="onAddSubmit(newEvent)" data-toggle="collapse" href="#collapseNewEvent">Valider</button>
            </form>
        </div>
    </div>
</div>

<div id='agenda'>
    <div id='calendar'>
        <div class="box bg-dark text-white">
            <div class="header">
                <span id="prev-month" (click)="prevMonth()" class="prev">Précédent</span>
                    <span class="title">{{calendar.getCurrent()}}</span>
                <span id="next-month" (click)="nextMonth()" class="next">Suivant</span>
            </div>
        </div>
        <div class="box-content">
            <ul class="label">
                <li *ngFor="let dayLabel of calendar.dayLabels; let index = index;" class="title">
                    {{ dayLabel }}
                </li>
            </ul>
            <div class="clear"></div>
            <ul class="dates">
                <li *ngFor="let day of calendar.getDays(null,null); let index = index;" id="cell-{{ day[1] }}" class="cell {{day[1] == today ? 'current' : ''}}" 
                        [attr.data-toggle]="day[2] ? 'modal' : null" [attr.data-target]="day[2] ? '#event-list-' + day[1].substring(8,10) : null" [style.cursor]="day[2] ? 'pointer' : null"
                    (click)="addEvent(day[2],day[1])"
                >
                    {{ day[0] }}
                    <img *ngIf="day[2]" src="../../..//../assets/planning_star.svg" alt="Evenement" style="max-width: 25px; margin-top: -50px;  margin-right: -20px;">
                </li>
                <!--li id="li-" class=""></li-->
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div *ngFor="let eventsOdTheDay of events | keyvalue" class="modal fade" id="event-list-{{eventsOdTheDay.key}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="scroll modal-body">
                <button (click)="addEventFromListEvents(eventsOdTheDay.key)" routerLinkActive="router-link-active" class="btn btn-dark"
                data-toggle="modal" [attr.data-target]="'#event-list-' + eventsOdTheDay.key" style="margin:auto; margin-bottom:5px; display: block;">
                <em class="fa fa-plus"></em>  Evenement</button>
                
                <div *ngFor="let anEvent of eventsOdTheDay.value" class="card card-body eventDetails {{anEvent.date.substring(8,10)}}">
                    <h5 class="card-title">{{anEvent.name | titlecase}}</h5>
                    <p class="card-text">{{ anEvent.description}}</p>
                    <button (click)="updateEvent(anEvent._id)" routerLinkActive="router-link-active"  class="btn btn-info"
                            data-toggle="modal" [attr.data-target]="'#event-list-' + eventsOdTheDay.key"><em class="fa fa-edit"></em></button>
                    <button (click)="deleteEvent(anEvent._id)" routerLinkActive="router-link-active"  class="btn btn-danger"
                            data-toggle="modal" [attr.data-target]="'#event-list-' + eventsOdTheDay.key"><em class="fa fa-trash"></em></button>
                </div>
            </div>
        </div>
    </div>
</div>