<div class="jumbotron">
    <h1 class="display-4">Mes projets</h1>
    <p class="lead">Créez et gérez vos projets en groupe !</p>
    <a class="btn btn-primary btn-lg" href="#collapseNewProject" role="button" data-toggle="collapse">Créer un nouveau
        projet <em class="fa fa-plus"></em></a>

    <div class="collapse" id="collapseNewProject">
        <div class="card card-body" style="margin-top:15px;">
            <form #newProject="ngForm" (ngSubmit)="newProject.valid">
                <div class="form-group">
                    <label for="nameNewProject">Nom du projet</label>
                    <input type="email" class="form-control" id="nameNewProject" name="name" [(ngModel)]="model.name">
                </div>
                <div class="form-group">
                    <label for="decriptionNewProject">Description du projet</label>
                    <textarea class="form-control" id="decriptionNewProject" rows="3" name="description" [(ngModel)]="model.description"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" (click)="onSubmit(newProject)" data-toggle="collapse" href="#collapseNewProject">Valider</button>
            </form>
        </div>
    </div>

</div>


<div class="row card-group">
    <div class="col-sm-4" *ngFor="let project of projects">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <h5 class="card-title">{{project.name | titlecase}}</h5>
                <p class="card-text">{{project.description}}</p>
                <a routerLink="{{project._id}}" routerLinkActive="router-link-active"  class="btn btn-info"><em class="fa fa-home"></em></a>
                <button (click)="deleteProject(project._id)" routerLinkActive="router-link-active"  class="btn btn-danger"><em class="fa fa-trash"></em></button>
            </div>
        </div>
    </div>
</div>